.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    max-width: 300px;
}

label {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.button-container {
    align-self: flex-start;
}